@import "./scss/variables.scss";
@import "scss/font";
@import "scss/footer";
@import "scss/header";
@import "scss/reset-style";

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}
