@import "normalize.css";
@import "./src/scss/variables.scss";
@import "./src/scss/reset-style.scss";
@import "./src/scss/font.scss";
@import "./src/scss/rubber-layout.scss";

@import "./src/scss/header.scss";
@import "./src/scss/main/section-goals.scss";
@import "./src/scss/main/section-choose-us.scss";
@import "./src/scss/main/section-work.scss";
@import "./src/scss/main/section-technologies.scss";
@import "./src/scss/main/section-industries.scss";
@import "./src/scss/main/section-with-us.scss";
@import "./src/scss/footer.scss";

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}

.container {
    width: 100%;
    padding: 0 150px;
}

.section {
    margin-bottom: 250px;
}
