@font-face {
    font-family: "GilroyMedium";
    src: url("/public/font/Gilroy-Medium.woff") format("woff");
}
@font-face {
    font-family: "GilroyRegular";
    src: url("/public/font/Gilroy-Regular.woff") format("woff");
}
@font-face {
    font-family: "GilroySemiBold";
    src: url("/public/font/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "NeueMachinaRegular";
    src: url("/public/font/NeueMachina-Regular.woff") format("woff");
}
@font-face {
    font-family: "NeueMachinaUltrabold";
    src: url("/public/font/NeueMachina-Ultrabold.woff") format("woff");
}
@font-face {
    font-family: "TTNormsBold";
    src: url("/public/font/TTNorms-Bold.woff") format("woff");
}
