.header-a {
    width: 100%;
    margin-bottom: 150px;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav {
            position: relative;
            margin: 0 30px;
            padding: 28px 0;
            display: flex;
            justify-content: space-between;
            &::after {
                position: absolute;
                content: "";
                border-bottom: 1px solid $dark-blue-opc-50;
                bottom: 0%;
                width: 100%;
            }
            .wrapper-right-border {
                position: relative;
                width: 100%;

                &::after {
                    content: "";
                    height: 124px;
                    right: 0%;
                    top: -28px;
                    position: absolute;
                    border-right: 1px solid $dark-blue-opc-50;
                }
            }
            .menu {
                display: flex;
                justify-content: space-between;

                &__list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    max-width: 614px;
                    margin-right: 80px;
                }

                // .menu__item

                &__item {
                    &:active {
                    }
                }

                // .menu__link

                &__link {
                    display: block;
                    font-family: $font-machina-reg;
                    color: $dark-blue;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 23px;
                    white-space: nowrap;
                    text-transform: lowercase;
                    &:hover {
                        color: $white-blue;

                        border-radius: 10px;
                    }
                }
            }
        }
    }
    .btns-list {
        display: flex;
        justify-content: space-between;

        margin-left: 80px;
        //95+62+254=411
        width: 100%;
        max-width: 411px;
        .switch-langue {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            &__name {
                color: $dark-blue;
            }
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            //btn
            width: 254px;
            height: 59px;
            border-radius: 10px;
            background: $main-blue;

            // text
            color: $white;
            font-family: $font-machina-reg;
            font-size: 20px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            text-align: center;

            cursor: pointer;
            &:hover {
            }
            &:active {
                transform: scale(0.99);
            }

            .img-arrow-link {
                outline: 2px dashed $white;
            }
        }
    }

    .item-nav-active {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            border: 1px solid $main-blue;

            width: 150%;
            height: 190%;
            top: -40%;
            left: -25%;
            border-radius: 15px;
        }
    }
}
.svg-langue-arrow {
    cursor: pointer;
}
.svg-langue-arrow-active {
    background-color: $white;
    width: 25px;
    fill: $middle-blue;
    transform: rotate(180deg);
}
.switch-langue {
    // .switch-langue__langue-list
    position: relative;
    font-family: $font-machina-reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    &__langue-list {
        position: absolute;
        text-align: center;
        width: 25px;
        top: 44px;
        right: 0px;
        margin: 0;

        user-select: none;
        background-color: $white;
    }

    // .switch-langue__langue-item

    &__langue-item {
        background-color: $white;
    }
    &__langue-p {
        margin: 0;
        cursor: pointer;
        &:hover {
            background-color: $middle-blue;
            color: $white;
        }
    }
}

.burger {
    // .burger__line-top
    display: none;
    width: 116px;
    height: 116px;
    background-color: $main-blue !important;
    border-radius: 20px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    gap: 12.5px;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 1s;
    cursor: pointer;
    &__line-top,
    &__line-middle,
    &__line-bottom {
        display: block;
        width: 45px;
        border: 2.5px solid $white !important;
        transition: all 1s;
        background-color: $white !important;
    }
    &__line-top {
    }

    // .burger__line-middle

    &__line-middle {
    }

    // .burger__line-bottom

    &__line-bottom {
    }
}
.burger-active {
    // .burger__line-top
    position: relative;
    cursor: pointer;

    .burger__line-top,
    .burger__line-middle,
    .burger__line-bottom {
        display: block;
        width: 45px;
        border: 2.5px solid $main-blue;
    }
    .burger__line-top {
        // transform: rotate(45deg);
        transform: translateY(15.5px) rotate(45deg);
    }

    // .burger__line-middle

    .burger__line-middle {
        transform: translateX(100px);
    }

    // .burger__line-bottom

    .burger__line-bottom {
        transform: translateY(-19px) rotate(-45deg);
    }
}

.btn-adapt {
    display: none ;
    padding: 30px !important;
    width: 116px !important;
    height: 116px !important;
    background-color: $main-blue !important;
}
.img-arrow-link-adapt {
    width: 55px;
    height: 55px;
}

.adapt-logo {
    display: none;
}
.menu-adapt {
    // .menu-adapt__list

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 22%;
        left: 107px;
        width: 800px;

        background-color: $main-blue !important;
        margin: 0;
    }

    // .menu-adapt__item

    &__item {
        width: 33%;
        &:hover {
            background-color: $dark-blue-opc-70;
        }
    }

    // .menu-adapt__link

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        font-family: $font-machina-ub;
        color: $white !important;
        font-size: 24px;
        font-weight: 400;
        line-height: 23px;
        white-space: nowrap;
        text-transform: lowercase;
    }
}

@media screen and (max-width: 1080px) {
    .menu,
    .btns-list {
        display: none !important;
        opacity: 0;
        visibility: hidden;
    }
    .burger {
        display: flex;
    }
    .btn-adapt {
        display: block !important;
    }
    .adapt-logo {
        display: block;
    }

    .wrapper-right-border {
        display: none !important;
    }
}
