.header-a {
    width: 100%;
    margin-bottom: 150px;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav {
            position: relative;
            margin: 0 30px;
            padding: 28px 0;
            display: flex;
            justify-content: space-between;
            &::after {
                position: absolute;
                content: "";
                border-bottom: 1px solid $dark-blue-opc-50;
                bottom: 0%;
                width: 100%;
            }
            .wrapper-right-border {
                position: relative;
                width: 100%;

                &::after {
                    content: "";
                    height: 124px;
                    right: 0%;
                    top: -28px;
                    position: absolute;
                    border-right: 1px solid $dark-blue-opc-50;
                }
            }
            .menu {
                display: flex;
                justify-content: space-between;

                &__list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    max-width: 614px;
                    margin-right: 80px;
                }

                // .menu__item

                &__item {
                    &:active {
                    }
                }

                // .menu__link

                &__link {
                    display: block;
                    font-family: $font-machina-reg;
                    color: $dark-blue;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 23px;
                    white-space: nowrap;
                    text-transform: lowercase;
                    &:hover {
                        color: $white-blue;

                        border-radius: 10px;
                    }
                }
            }
        }
    }
    .btns-list {
        display: flex;
        justify-content: space-between;

        margin-left: 80px;
        //95+62+254=411
        width: 100%;
        max-width: 411px;
        .switch-langue {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            &__name {
                color: $dark-blue;
            }
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            //btn
            width: 254px;
            height: 59px;
            border-radius: 10px;
            background: $main-blue;

            // text
            color: $white;
            font-family: $font-machina-reg;
            font-size: 20px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            text-align: center;

            cursor: pointer;
            &:hover {
            }
            &:active {
                transform: scale(0.99);
            }

            .img-arrow-link {
                outline: 2px dashed $white;
            }
        }
    }

    .item-nav-active {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            border: 1px solid $main-blue;

            width: 150%;
            height: 190%;
            top: -40%;
            left: -25%;
            border-radius: 15px;
        }
    }
}
