.header {
    width: 1920px;
    // width: 100%;
    background-color: aqua;
    height: 975px;
    &__inner {
        .nav {
            .menu {
                // .menu__list

                &__list {
                }

                // .menu__item

                &__item {
                }

                // .menu__link

                &__link {
                }
            }
            .btns-list {
                .switch-langue {
                    &__name {
                    }
                }
                &__btn {
                }
            }
        }
    }
}
.down-block {
    // .down-block__circle-btn
    .header__h1 {
    }
    .down-block__circle-btn {
    }
}

.circle-btn {
}

.container {
}
