$blue-background: rgb(46, 43, 208);
$white: #fff;
$opacity-0: #ffffff00;
$opacity-50: #ffffff50;
$white-2: #2f353f;
$white-3: #9695e7;
$color-4: #cbcaf3;

$font-gilroy-medium: "GilroyMedium", sans-serif;
$font-gilroy-reg: "GilroyRegular", sans-serif;
$font-gilroy-sb: "GilroySemiBold", sans-serif;
$font-machina-reg: "NeueMachinaRegular", sans-serif;
$font-machina-ub: "NeueMachinaUltrabold", sans-serif;
$font-tt-norms-bold: "TTNormsBold", sans-serif;
