$main-blue: #2e2bd0; //rgb(46, 43, 208);
$white: #fff;
$opacity-0: #ffffff00;
$opacity-50: #ffffff50;
$dark-grey: #95989d;

$middle-grey: #93969b; //rgb(147, 150, 155)
$middle-grey-opc-50: #93969b50;

$dark-blue: #2f353f; //rgb(47,53,63);
$dark-blue-opc-30: #2f353f30; //rgba(47, 53, 63, 0.3);
$dark-blue-opc-14: #2f353f14; //rgba(47,53,63,0.14);
$dark-blue-opc-50: #2f353f50; //rgba(47, 53, 63, 0.5);
$dark-blue-opc-70: #2f353f50; //rgba(47, 53, 63, 0.7);
$gradient-blue-blue: linear-gradient(
    18.15deg,
    rgb(46, 43, 208) -82.504%,
    rgb(120, 118, 242) 148.77%
);
$middle-blue: #9695e7;
$white-blue: #cbcaf3; //rgb(203, 202, 243)

$font-gilroy-medium: "GilroyMedium", sans-serif;
$font-gilroy-reg: "GilroyRegular", sans-serif;
$font-gilroy-sb: "GilroySemiBold", sans-serif;
$font-machina-reg: "NeueMachinaRegular", sans-serif;
$font-machina-ub: "NeueMachinaUltrabold", sans-serif;
$font-tt-norms-bold: "TTNormsBold", sans-serif;
